/*
 * Common CSS-stylesheet for the web pages of KEDR project
 */

body, table
{ 
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10pt;
    color: #000; 
    max-width: 70em;
} 

h2, h3, h4, h5 
{ 
	margin-bottom: 0em;
}

h1
{ 
	font-size: 18pt;
}

h2
{ 
	font-size: 14pt;
	font-weight: normal;
	margin-top: 0.3em;
}

a, a:visited 
{ 
	color: #0a0; 
	text-decoration: none; 
}

a:hover 
{ 
	color: #0a0; 
	text-decoration: underline; 
}

h1 a, h1 a:visited, h1 a:hover
{
	color: #333;
	text-decoration: none; 
}

img
{
	border: none;
}

#berlios_logo
{
	margin-left: 0.5em;
	margin-right: 0.5em;
	margin-top: 0em;
}

/*
img#heading-logo
{
	margin-right: 0.5em;
}
*/

p 
{ 
	text-align: justify; 
	margin-bottom: 1.0em;
	margin-top: 0.3em;
}

pre { 
	font-size: 10pt;
	margin-bottom: 0em;
	margin-top: 0em;
}

#mainsidebar
{
	background-color: #eee; 
	padding-top: 0.3em;
}

td#mainsidebar
{
	vertical-align: top;
	border: thin solid #ccc;
}

td#maincontent
{
	vertical-align: top;
	border: none;
	padding: 0em 0.5em 0em 0.5em;
}

#mainsidebar p, #mainsidebar ul
{
	white-space: nowrap;
	padding: 0em 0.5em 0em 0.5em;
	color: #0a0;
}

#mainsidebar p
{
	margin-top: 0.5em;
	margin-bottom: 0em;
}

#mainsidebar ul
{
	font-size: 10pt;
	list-style-type: none;
	padding-left: 1.3em;
	margin-top: 0.2em;
}

#mainsidebar li
{
	padding-top: 0.1em;
	padding-bottom: 0.1em;
}

.sb_head
{
	font-weight: bold;
}

#maincontent a
{
	color: #0a0; 
}

hr
{
	color: silver;
}
